<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.woovictory.liiv_live">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".Network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme">

        <!-- Firebase Service -->
        <service
                android:name=".fcm.FirebaseMessagingService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
                android:name=".fcm.FirebaseInstanceIDService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".view.login.LoginActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".view.home.HomeActivity">
        </activity>
        <activity android:name=".view.login.KbLoginActivity">
        </activity>
        <activity android:name=".view.sign.KbSignActivity">
        </activity>
        <activity
                android:name=".view.SplashActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.check.CheckActivity">
        </activity>
        <activity android:name=".view.quiz.QuizReviewActivity">
        </activity>
        <activity android:name=".view.survey.SurveyActivity">
        </activity>
        <activity android:name=".view.ExamActivity">
        </activity>
        <activity android:name=".view.pointree.PointreeHistoryActivity">
        </activity>
        <activity android:name=".view.mypage.MypageActivity">
        </activity>
        <activity android:name=".view.exchange.ExchageActivity">
        </activity>
        <activity android:name=".view.stock.StockAndFundActivity">
        </activity>
        <activity android:name=".view.coupon.CouponShopActivity">
        </activity>
        <activity android:name=".view.coupon.CouponCoffeeActivity">
        </activity>
        <activity
                android:name=".view.live.LiveActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection">
        </activity>
        <activity
                android:name=".view.popup.SOSPopupActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Transparent">
        </activity>
        <activity
                android:name=".view.popup.SurveyCompletePopUpActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Transparent">
        </activity>
        <activity
                android:name=".view.quiz.QuizActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Transparent">
        </activity>
        <activity android:name=".view.quiz.QuizAnswerActivity"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.Transparent">
        </activity>
    </application>

</manifest>